.cab-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.cab-details {
  margin-bottom: 10px;
}

.cab-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.cab-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0;
}

.edit-button svg,
.delete-button svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.edit-button:hover svg,
.delete-button:hover svg {
  opacity: 0.7;
}
