.cab-card {
  background-color: #fff;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
  width: 800px;
}

.cab-details {
  margin-bottom: 2px;
  padding: 10px;
}

.cab-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.cab-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 10px;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0;
}

.edit-button svg,
.delete-button svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.edit-button:hover svg,
.delete-button:hover svg {
 opacity:0.7;
}

.assigned-drivers-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 23px;
}



/*
.assigned-drivers-button button {
  background-color: #17a2b8;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.assigned-drivers-button button:hover {
  background-color: #11707f;
} */
.assigned-drivers-button {
  display: flex;
  justify-content: center;
  margin-top: 9px;
  margin-bottom: 13px;
}

.assigned-drivers-button button {
  background-color: yellow; /* Set the background color */
  color: black; /* Set the text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a transition effect */
}

  .assigned-drivers-button button:hover {
    background-color: rgb(238, 238, 152); /* Change the background color on hover */
  }
