.driver-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 800px; /* Adjust the width as per your requirement */
}

.driver-details {
  margin-bottom: 10px;
}

.driver-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.driver-id {
  font-size: 14px;
  color: #666;
}

.driver-info p {
  margin-bottom: 5px;
}

.driver-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0;
}

.edit-button svg,
.delete-button svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.edit-button:hover svg,
.delete-button:hover svg {
  opacity: 0.7;
}

.driver-assigned-cabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.assigned-cabs-button {
  background-color: #ffc107;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
}
