.tab-list-container {
    padding: 20px;
  }
  
  .tab-buttons {
    position: fixed;
    top: 100px; /* Adjust the top value as per your preference */
    right: 30px; /* Adjust the left value as per your preference */
    z-index: 999; /* Ensure the buttons appear above other content */
  }
  .tab-button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s; /* Add transition for smooth effect */
  }
  
  .tab-button:hover {
    background-color: #ffff00;
    border: 1px solid #ca0909;
    color: black;
  }
  
  
  .tab-button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .tab-button.active {
    background-color: #ddd;
  }
  
  .tab-content {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
  }
  