*{
   margin: 0;
}

html{
    
    background-color: #2D2F39; 
    background-image: linear-gradient(to top left,#9c9fae 10% ,#161A23 100% );
    /* background-image: radial-gradient(330deg,#2561ef 80% ,#9c9fae 100% ); */
  
}    